/** Generals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-color: #1e2d3b;
    padding-top: 100px;
  }

/** Utils */
.container {
    max-width: 1700px;
    margin: 0 auto;
  }

  /*! Header */

#main-header{
    height: 84px;
    padding: 10px;
    width:100%;
    background-color: #2e3a46;

    position: fixed;
    top:0;
    left:0;  
}

#main-header img{
    height: 64px;
}
#contents{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#search-by{
  width:100%;
  background-color: #fff;
  padding: .375rem 2.25rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  color: #212529;
  transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/*! Gallery */
#album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
  
#album-container .card {
    background-color: #2e3a46;
    padding: 20px;
    margin: 20px;
    flex-basis: 190px;
    text-align: center;
    min-height: 335px;
    box-shadow:  2px 2px 10px #000;
}

/*? card contents*/

#album-container .card img {
    width: 100%;
    height: auto;
}


#album-container .card .title {
    color: #fff;
    margin: 17px 0;
    text-transform: uppercase;
}

#album-container .card .author{
  font-size: 20px;
  font-style: normal;
  font-weight: lighter;
}

#album-container .card .year {
  font-size: 16px;
  font-style: normal;
  font-weight: lighter;
}

.text-gray{
   color: #808080;
}