<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js'
        integrity='sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=='
        crossorigin='anonymous'></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>VUE music</title>
</head>

<body>
    <div id="app">
        <!--  logo + header -->
        <header id="main-header">
            <div class="container">
              <img src="./img/logo.png" alt="logo spotify"/>
            </div>
          </header>
          <!-- gallery-->
          <main id="gallery" v-if="albums.length === 10">
            <section id="album-container" class="container">
              <div class="card" v-for="album in albums">
                <img :src="album.poster" :alt="album.title" />
                <h2 class="title">{{album.title}}</h2>
                <address class="author text-gray">{{album.author}}</address>
                <time datetime="1988" class="year text-gray">{{album.year}}</time>
              </div>
              <!--! end card-->
            </section>
          </main>
    </div>
    <script type="text/javascript" src="./js/script.js"></script>
</body>

</html>